h1{
    width:100%;
    font-family:Algerian;
    text-align:center;
  }
  body{
    background-image: url(https://img.freepik.com/premium-vector/blue-abstract-background-with-mandalas_1159-956.jpg?w=360);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
  }
 
  